/* HTML Dag 2 */
/* Importer och root*/
@font-face {
    font-family: Myfont;
    src: url('') format('truetype');
  }

*{
    p {
        font-family: Myfont, sans-serif;
      }
}
/* Table of Contents */
/*
2. Index
3. Portfolio */





/* 2. Index */



/* 3. Portfolio */
