/* HTML Dag 2 */
/* Importer */
@font-face {
    font-family: Myfont;
    src: url('') format('truetype');
  }
/* Contents */
/*
1. Index
2. Portfolio */

/* Root */


p {
    font-family: Myfont, sans-serif;
  }


/* 1. Index */

/* 2. Portfolio */
